// ゴールドの文字

.h-title-first, .h-title-big, .h-title-last, .shadow-white {
  position: relative;
  text-shadow: -8px -8px 8px rgba(255, 255, 255, 0.8), 8px 8px 8px rgba(255, 255, 255, 0.8);
}

.h-title::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: none;
  background: linear-gradient(180deg, #A06900 0%, #DCB93C 53.65%, #A06900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.h-title-first,.h-title-last {
  font-size: 80px;
  letter-spacing: -4px;
}

.h-title-big {
  font-size: 184px;
}

.h-title-first::before {
  content: '開業費用';
}
.h-title-big::before {
  content:"0";
}
.h-title-last::before {
  content:"円";
}

.gold-text {
  background: linear-gradient(180deg, #835103 17.71%, #DBB63B 56.25%, #A97E02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.gold-text-light {
  background: linear-gradient(180deg, #FEDF93 15.1%, #FFFFFF 50.52%, #FEDF93 89.06%, #FEDF93 89.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.gold-text-dark {
  background: linear-gradient(90deg, #764219 10.3%, #EFD688 51.95%, #8C4401 67.62%, #DEB86C 106.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


// 中央の大きめテキスト
.big-text-middle {
  font-size: 132px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.40);
}
.big-text-first {
  font-size: 353px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.40);
}
.big-text-last {
  font-size: 176px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.40);
}

.big-text-middle::before {
position: absolute;
content:"つの";
top: 0;
left: 0;
right: 0;
bottom: 0;
color: rgba(0,0,0,0);
text-shadow: none;
background: linear-gradient(180deg, #FFFFFF 50.52%, #FFE7AB 67.71%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}


.big-text-first::before {
position: absolute;
content:"3";
top: 0;
left: 0;
right: 0;
bottom: 0;
color: rgba(0,0,0,0);
text-shadow: none;
background: linear-gradient(180deg, #FFFFFF 50.52%, #FFE7AB 67.71%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}


.big-text-last::before {
  position: absolute;
  content:"秘密";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0,0,0,0);
  text-shadow: none;
  background: linear-gradient(180deg, #FFFFFF 50.52%, #FFE7AB 67.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


@media screen and (max-width:1024px) {

  .h-title-first,.h-title-last {
    font-size: 40px;
    letter-spacing: -4px;
  }
  
  .h-title-big {
    font-size: 64px;
  }

  .big-text-middle {
    font-size: 80px;
  }
  .big-text-first {
    font-size: 180px;
  }
  .big-text-last {
    font-size: 64px;
  }
  
}

@media screen and (max-width:740px) {

  .big-text-middle {
    font-size: 40px;
  }
  .big-text-first {
    font-size: 120px;
  }
  .big-text-last {
    font-size: 40px;
  }

  .h-title-first,.h-title-last {
    letter-spacing: -2px;
  }
}
