.h-title-first, .h-title-big, .h-title-last{
  position: relative;
  text-shadow: 2px 2px 6px #FFFFFF;
}

.h-title::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: none;
  background: linear-gradient(180deg, #A06900 0%, #DCB93C 53.65%, #A06900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.h-title-first,.h-title-last {
  font-size: 81px;
  letter-spacing: -4px;
}

.h-title-big {
  font-size: 184px;
}

.h-title-first::before {
  content: '開業費用';
}
.h-title-big::before {
  content:"0";
}
.h-title-last::before {
  content:"円";
}

.gold-text {
  background: linear-gradient(180deg, #D6B237 48.44%, #855200 65.62%, #BA8D1B 82.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gold-text-light {
  background: linear-gradient(180deg, #FEDF93 15.1%, #FFFFFF 50.52%, #FEDF93 89.06%, #FEDF93 89.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


// 中央の大きめテキスト
.big-text-middle {
  font-size: 132px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.40);
}

.big-text-middle::before {
position: absolute;
content:"つの";
top: 0;
left: 0;
right: 0;
bottom: 0;
color: rgba(0,0,0,0);
text-shadow: none;
background: linear-gradient(180deg, #FFFFFF 50.52%, #FFE7AB 67.71%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.big-text-first {
  font-size: 353px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.40);
}

.big-text-first::before {
position: absolute;
content:"3";
top: 0;
left: 0;
right: 0;
bottom: 0;
color: rgba(0,0,0,0);
text-shadow: none;
background: linear-gradient(180deg, #FFFFFF 50.52%, #FFE7AB 67.71%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.big-text-last {
  font-size: 176px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.40);
}

.big-text-last::before {
  position: absolute;
  content:"秘密";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0,0,0,0);
  text-shadow: none;
  background: linear-gradient(180deg, #FFFFFF 50.52%, #FFE7AB 67.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
