
@media screen and (max-width:740px) {

  .bg-outer {
    display:inline-block;
    width:100%;
    aspect-ratio:1.5;
    mask:
    radial-gradient(circle 30px at top    left ,#0000 98%,#000) top    left,
    radial-gradient(circle 30px at top    right,#0000 98%,#000) top    right,
    radial-gradient(circle 30px at bottom left ,#0000 98%,#000) bottom left,
    radial-gradient(circle 30px at bottom right,#0000 98%,#000) bottom right; 
    ;
    -webkit-mask:
    radial-gradient(circle 30px at top    left ,#0000 98%,#000) top    left,
    radial-gradient(circle 30px at top    right,#0000 98%,#000) top    right,
    radial-gradient(circle 30px at bottom left ,#0000 98%,#000) bottom left,
    radial-gradient(circle 30px at bottom right,#0000 98%,#000) bottom right;

    mask-repeat: no-repeat;
    -webkit-mask-repeat:no-repeat;

    mask-size: 51% 51%;
   -webkit-mask-size:51% 51%;
  }
  
}



