.bg-outer {
  display:block;
  margin: 50px auto;
  max-width: 750px;
  padding: 20px 0;
  position:relative;
  background: #fff;
}

.inner {
  position: relative;
  padding: 0px 40px;
  margin: 0 -20px;
  background: #fff;
}

.bg-outer:before, .bg-outer:after,
.inner:before, .inner:after {
  content:'';
  position: absolute;
  width: 80px;
  height: 80px;
  border: 20px solid #ffffff;
  border-radius: 50%;
  background: transparent;
}

.bg-outer:before{
  top: -40px;
  left: -60px;
  clip: rect(40px, auto, auto, 40px); 
}

.bg-outer:after{
  top: -40px;
  right: -59px;
  clip: rect(40px, 40px, auto, auto);
}

.inner:before {
  bottom: -60px;
  left: -40px;
  clip: rect(auto, auto, 40px, 40px);
}

.inner:after {
  bottom: -60px;
  right: -40px;
  clip: rect(auto, 40px, 40px, auto);
}

