@use '../src/parts/gold';
@use '../src/parts/animation';
@use '../src/parts/round';

$white:#ffffff;
$nevy:#1E2782;
$skyBlue:#E6F0FA;

body, html, .wrap {
  width: 100%;
  max-width: 1920px;
  font-family:"Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  // font-family: 'Noto Sans JP', sans-serif;
}
.font-din {
  font-family: 'Oswald', sans-serif;
}

header {
  background-image: url('../assets/img/main-top.png');
  background-image: image-set(url(../assets/img/main-top.png) 1x, url(../assets/img/main-top@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.main-container {
  width: 1000px;
  margin: auto;
}

mark {
  background:linear-gradient(transparent 60%, #F0DB3C 0%);
}

.bottom-fixed {
  background: linear-gradient(180deg, #0667B8 0%, #1A2982 100%);
}

.border-gold {
  border-radius: 10px;
  position:relative;
  z-index: 1;
  background: linear-gradient(262.68deg, #B97419 0%, #FDF1CB 41.04%, #EACA7C 58.33%, #B97419 100%);
  text-align:center;
}

.border-gold::before {
  border-radius: 10px;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  box-sizing:border-box;
  padding:3px;
  width:100%;
  height:100%;
  background-clip:content-box;
  content:"";
}

.gold-border2::before {
  background-color: $nevy;
  padding: 5px;
}

.h-circle::before {
  background: linear-gradient(180deg, #0667B8 0%, #1A2982 100%);
  box-shadow: inset 9px 4px 4px rgba(56, 55, 55, 0.25);
  padding: 12px;
  background-clip:content-box;
}

.h-circle-white::before {
  background: $white;
  padding: 10px;
  background-clip:content-box;
  box-shadow: inset 9px 4px 4px rgba(56, 55, 55, 0.25);
}

.text-shadow {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.bg-sharp {
  width: 100%;
  background-image: url('../assets//back/back-sharp.png');
  background-size: cover;
}
.back-blue {
 background-image: url('../assets/back//back-blue.png'); 
 background-position-x: center;
 background-size: contain;
}
.bg-outer {
  background-image: url("../assets/back/back-white.png");
}
.bg-green {
  background-image: url("../assets/back/back-green.png");
  background-size: cover;
}
.bg-num1, .bg-num2,.bg-num3 {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.bg-num1 {
  background-image: url("../assets/back/back01.png");
}
.bg-num2 {
  background-image: url("../assets/back/back02.png");
}
.bg-num3 {
  background-image: url("../assets/back/back03.png");
}

.table-fee {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.td-center {
  border-left: 1px dotted black;
  border-right: 1px dotted black;
}

.border-bottom {
  border-bottom: 1px solid black;
}
.border-top {
  border-top: 1px solid black;
}
.border-left {
  border-left: 1px solid black;
}

@media screen and (max-width:1024px) {

  .h-title-first, .h-title-last {
    font-size: 64px;
  }

  .h-title-big {
    font-size: 120px;
  }

  .main-container {
    width: 88%;
    margin: auto;
  }

  .bg-num1,.bg-num2,.bg-num3 {
    background-position: center;
  }
  
}

@media screen and (max-width:740px) {
 
  header {
    background-image: url('../assets/main-top-sp.png');
  }

  .main-container {
    width: 95%;
    margin: auto;
  }

  .h-circle::before {
    padding: 4px;
    background-clip:content-box;
  }

  .h-title-first, .h-title-last {
    font-size: 40px;
  }

  .h-title-big {
    font-size: 100px;
  }

  .bg-outer {
    background-color: $white;
  }
  .border-brown {
    border: 1px double #9B6C2C;
    opacity: 0.9;
  }

  .bg-num1,.bg-num2,.bg-num3 {
    background-image: none;
    background-color: $white;
    border-radius: 10px;
  }

  
}


